@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> For Students -> Build project portfolios and develop programming skills, bask in the knowledge pool </p>
<p> For Teachers -> Use this tool to challenge students, improve participation and interaction </p>
<p> Contact us gebrub@augsburg.edu </p>
