@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Mailing Address </strong> <br/>
    xxxxxxxxx
    Eagan,MN,55122  <br />
                    <br />
    Phone Number    <br />
    xxx.xxx.xxxx
</address>

<address>
    <p>Please use the email address below to contact us</p>
    <strong>Support:</strong>   <a href="mailto:Support@codingground.com">Support@codingground.com</a><br />
    <strong>Marketing:</strong> <a href="gebrub@codingground.com">gebrub@codingground.com</a>
</address>