@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code.Ground</h1>
    <p class="lead">Code Hustle is a place where students can find freelance coding jobs and collaborate with other students/faculty on projects</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Find Your faculty and Classmates and share ideas and collaborate.
            you can use your Email/FACEBOOK/GOOGLE accounts to sign-up  and get started.
            Click Register on top right hand corner and get started.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create collaboration and research</h2>
        <p>Faculty doing research could use this platform to garner student participation and use the students to dispense with trivial work</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Increase Engagement</h2>
        <p>
            Faculty can post challenge questions that tie in class material with real world problems and encourage students to search for solutions.
            Students can follow a faculty member's posts and vice versa. Students will be able to develop a portfolio of work that is public record
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>